
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form #postForm="ngForm" (ngSubmit)="onSearch(postForm.value)">
          <div class="form-group">
            <label for="directory">Directory</label>
            <input
              type="text"
              class="form-control"
              id="directory"
              required
              ngModel
              name="directory"
            />
        </div>
        <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!postForm.valid"
      >
        Search
      </button>
      </form>
    </div>
  </div>
</div>
