<div class="container">
  <hr>
    <div class="row">
        <div class="col-3">
          <h4>file name</h4>
          <p *ngFor="let item of listItems">{{item.fileName}}</p>
        </div>
        <div class="col-3" >
            <h4>file path</h4>
            <p *ngFor="let item of listItems">{{item.filePath}}</p>
        </div>
        <div class="col-md-3">
            <h4>file size</h4>
            <p *ngFor="let item of listItems">
                {{item.fileSize}}
              </p>
        </div>
      <div class="col-md-3">
          <h4>file extension</h4>
          <p *ngFor="let item of listItems">{{item.fileExt}}</p>
      </div>
    </div>
  </div>
  <hr>