<div class="container">
    <div class="row">
      <div class="col">
        <h4>file name</h4>
        <div>
          <p>CatImg</p>
        </div>
      </div>
      <div class="col-">
          <h4>file path</h4>
          <div>
            <p>/desktop/catfolder</p>
          </div>
      </div>
      <div class="col">
          <h4>file size</h4>
          <div>
            <p>
              324
            </p>
          </div>
      </div>
      <div class="col">
          <h4>file extension</h4>
          <div>
            <p></p>
          </div>
      </div>
    </div>
  </div>